<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
<!--<script type="text/javascript" th:src="@{/../../js/index.js}"></script>-->


<!--    <script type="text/javascript" th:src="@{/js/index.js}"></script>-->
    <script src="/js/index.js"></script>



<!--<script type="text/javascript" th:src="@{/../../js/functions.js}"></script>-->


<!--    Работает-->
<!--    <style th:inline="css">-->
<!--        p {-->
<!--            color: greenyellow;-->
<!--        }-->
<!--    </style>-->




</head>

<body>
<div>Тест проверка _5555</div>

<div th:if="${customers}">
    <p th:text="${customers}"></p>
</div>

<br>

<button id="objtest">Ajax Object</button>

<br>

<div th:if="${not #lists.isEmpty(customers)}">
    <h3>Таблица Customers</h3>
    <table cellspacing="0" border="1" cellpadding="0" width="1000">
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Фвмилия</th>
            <th>e-mail</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.getId}" style="text-align: right">#</td>
            <td th:text="${customer.getFirstName}" style="text-align: center">#</td>
            <td th:text="${customer.getLastName}" style="text-align: center">#</td>
            <td th:text="${customer.getEmail}" style="text-align: center">#</td>
        </tr>
    </table>
</div>

<div class="container">
    <p>Проба</p>
    <p>Щёлкните по документу для запуска обработчика.</p>
    <button type="submit" id="btn">Жми меня, чем хочешь!</button>
</div>

</body>
</html>
