<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/../../css/main.css}"/>-->
<!--<script type="text/javascript" th:src="@{/../../js/index.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/../../js/functions.js}"></script>-->
<head>
</head>
<body>
<!--<div th:insert="fragments/header :: header"/>-->
Hello world! thymeleaf
<!--<div th:replace="fragments/footer :: footer"></div>-->

</body>
</html>
